.container {
  display: flex;
  width: 641px;
  padding: 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #dadde1;
}

.formTitle {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 1.2;
  color: #101828;
}

.formText {
  font-size: 16px;
  margin-bottom: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: #6c717b;
}

.input {
  margin-top: 7px;
  margin-bottom: 7px;
  display: flex;
  width: 527px;
  height: 60px;
  padding: 18px 18px 18px 18px;
  align-items: flex-start;
  border: none;
  outline: 1px solid transparent;
  border-radius: 12px;
  background-color: #f7f7f7;
}

.input.filled,
.textarea.filled {
  color: #101828;
}

.inputDate {
  margin-top: 7px;
  margin-bottom: 7px;
  display: flex;
  width: 527px;
  height: 60px;
  padding: 18px 18px 18px 18px;
  align-items: flex-start;
  border: none;
  outline: 1px solid transparent;
  border-radius: 12px;
  background-color: #f7f7f7;
}

.inputDate::-webkit-calendar-picker-indicator {
  display: none;
}

.textarea {
  margin-top: 7px;
  margin-bottom: 24px;
  display: flex;
  width: 527px;
  height: 118px;
  padding: 18px 18px 18px 18px;
  align-items: flex-start;
  border-radius: 12px;
  border: none;
  resize: none;
  outline: 1px solid transparent;
  background-color: #f7f7f7;
}

.input::placeholder,
.inputDate::placeholder,
.textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #6c717b;
}

.btnWrap {
	margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
	font-size: 12px;
  text-transform: lowercase;
  font-weight: 400;
  color: #d84343;
}

