.react-datepicker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 276px;
  font-family: inherit;
  border-radius: 12px;
  border: 1px solid #475467;
  background-color: #fff;
}

.react-datepicker__header {
  margin: 0 auto;
  width: 276px;
  padding: 12px 12px;
  background-color: transparent;
  border-radius: 12px 12px 0px 0px;
  border-bottom: 1px solid #475467;
}

.react-datepicker__current-month {
  color: #101828;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

.react-datepicker__day-name {
  margin-top: 12px;
  color: #475467;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-between;
}

.react-datepicker__day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #101828;
}

.react-datepicker__day--selected {
  width: 32px;
  height: 32px;
  border-radius: 12px;
  background-color: #475467;
  color: #f7f7f7;
}

.react-datepicker__day:hover {
  color: #475467;
}

