.name {
	margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #101828;
}

.price {
	margin-bottom: 28px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #101828;
}

.reviewsWrap {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  fill: #ffc531;
}

.noReviews {
  fill: #f2f4f7;
}

.rating {
  margin-right: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #101828;
}

.rating:hover {
  text-decoration: underline;
}

.map {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.location {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #101828;
}

.imgWrap{
	margin-bottom: 28px;
	display: flex;
	column-gap: 36px;
}

.img {
  width: 292px;
  height: 312px;
  border-radius: 10px;
  object-fit: cover;
  background-color: lightgray;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #475467;
}